 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="/">Dekh<strong style="color:rgb(99, 232, 232);">Mate</strong></a></h1>


          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="/">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto" href="/addlisting">Add Your Listing</a></li>
              <li><a class="nav-link" href="/RoomsPage">Room Listings</a></li>
              <li><a class="nav-link" href="/SearchRoomPage">Need Room</a></li>
              <li class="dropdown"><a href="#"><span>Check Services</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Check Services</a></li>
                  <li><a href="/Profile">Profile</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/signup">Sign Up </a></li>
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </div>

    </div>
  </header>
  <!-- End Header -->