      <!-- ======= Portfolio Section ======= -->
      <section class="portfolio" id="portfolio">

        <div class="container text-center">
          <h2>
            Indore's Prime Locations
          </h2>
  
          <p style="color: white;">
            Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, Per nihil dicant commodo an.
          </p>
        </div>
  
        <div class="portfolio-grid">
          <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/porf-1.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                        Annapurna Road
                      </h3>

                    </div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/indore4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                       Bhawarkua Road
                      </h3>

                    </div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/indore4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                        Mhow
                      </h3>
  
                    </div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/indore4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                        Palasia
                      </h3>

                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/indore4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                        Pardesi Pura
                      </h3>
  
                    </div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/indore4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                        Rajendar Nagar
                      </h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/indore4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                        Sapna Sangeeta
                      </h3>
  
                    </div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="card card-block">
                <a href="/img/indore4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" class="indoreImg" src="/img/indore4.jpg">
                  <div class="portfolio-over">
                    <div>
                      <h3 class="card-title">
                        Vijay Nagar
                      </h3>
  
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Portfolio Section -->
