<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> Login </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <%- include('./partials/bootstrap_link.ejs')%>
        <!-- Template Main CSS File -->
        <link href="/css/userlogsign.css" rel="stylesheet">

</head>

<body>

    <main>
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <span class="d-none d-lg-block">DekhMate</span>
                                </a>
                            </div>

                            <div class="card mb-3">

                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Reset your Password</h5>

                                    </div>
                                    <form class="row g-3 needs-validation" method="post" action="/forget-password">

                                        <div class="col-12">
                                            <label for="yourUserPassword" class="form-label">Your new Password</label>
                                            <div class="input-group has-validation">
                                                <input type="password" name="password" required class="form-control"
                                                    id="yourUserPassword" required>
                                                <input type="hidden" name="user_id" value="<%= user_id %>">
                                                <div class="invalid-feedback">Please enter your password.</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Reset Password</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <%- include('./partials/_script.ejs')%>

</body>

</html>