<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verified</title>
    <style>
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #22cbe9;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #162b2e;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}
    </style>
</head>
<body>
    <main>
        <div class="container">
    
          <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h2>Account is Not Verified (Please Verifiy it by from mail link</h2>
          </section>
    
        </div>
      </main><!-- End #main -->
      <%- include('./partials/_script.ejs')%>
</body>
</html>